@import "normalize.styl"
@import "fonts.styl"

gris_oscuro = #333333
gris_claro = #818181
rojo = #8D255B
gris_mas_claro = #F0F0F0


a
	text-decoration none
body
	font-size 16px

figure
	margin 0
img 
	vertical-align top
ul
	margin 0
	padding 0
//buttons
.button-menu
	color gris_oscuro
	left .5em
	margin-top -10px
	position absolute
	top 50%
//oocss classes
.container
	font-size 0
	padding 1.4rem
	text-align center
.action 
	color white
	margin-right .5em
	font-size 1.2em
	&:last-child
		margin-right 0
	&.gray 
		color gris_claro
.actions
	position absolute 
	bottom 0
	right 0
	left 0
	background rgba(black,.3)
.border
	border-bottom 1px solid gris_claro
.name 
	color gris_oscuro
.menu
	display none
.relative 
	position relative
.author
	color gris_claro
.center-block
	margin 0 auto
.center-text
	text-align center
.right-text
	text-align right
.padding
	padding 1em
.padding-tb
	padding 1em 0
.left
	float left
.right
	float right
.wrap
		width 800px
.round
	border-radius 50%
	overflow hidden
.progress
	margin 1em 0
	position relative
	.min
	.max
		font-size 0.8em
		position absolute
		top -5px
	.min
		left 0
	.max
		right 0
	.margin
		right 0
	.total
		height 5px
		background gris_claro
		width 100%
		border-radius 5px
		width 75%
		margin 0 auto
	.state
		height 5px
		background rojo
		width 30%
		border-radius 5px
		position relative
	.circle
		width 10px
		height 10px
		background gris_oscuro
		border-radius 50%
		top -2px
		position absolute
		right 0
.header
	height 3.5em
	
	.title
		font-size 1.1em
		line-height 3.5em
		margin 0
		text-align center
.song 
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	text-align left
	width 8rem
	&:nth-child(even)
		margin-right 0
	p
		margin .5em 0

.playing
	&.small
		width 20em
.input
	border 1px solid gris_claro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em
.search-icon
	position absolute
	left .5em
	top .8em
	color gris_claro
.close-icon
	position absolute
	top .5em
	color gris_claro
	right .5em
	font-size 1.2em	
.logo
	display none
@media screen and (min-width:480px)
	.song
		&:nth-child(even)
			margin-right 1em
	.image
		img
			width 100%
			height auto
	.playing
		&.medium
			width auto

@media screen and (min-width:800px)
	body
		background gris_mas_claro
	.button-menu
		display none
	.header
		height auto
		.title
			display none
	.isotipo
		width 122px
	.logo
		display block
		padding 1.3em 0
		overflow hidden
		background white 
	.avatar
		width 38px
		height 38px
	.username
		color gris_claro
		position relative
		top 8px
		margin-left .5em
		&:after
			border-left 7px solid transparent
			border-right 7px solid trasnparent
			border-top 9px solid gris_claro
			content ""
			display inline-block
			margin-left .5em
	.menu
		display block
		background gris_mas_claro
		overflow hidden
		.item 
			float left
			list-style none
			a
				color gris_oscuro
				text-transform uppercase
				cursor pointer
				padding 1em
				display block
				border-top 5px solid transparent
				&:hover
					border-top 5px solid gris_claro











